trigger:
- main
- release/*
- features/*

pool: 
  name: default

stages:
  - stage: Linting
    displayName: Linting
    jobs:
      # - job: JSLint
      #   displayName: JS_Lint
      #   continueOnError: true
      #   steps:
      #   - task: PowerShell@2
      #     inputs:
      #       targetType: 'inline'
      #       script: 'Invoke-WebRequest -Uri "https://github.com/biomejs/biome/releases/download/%40biomejs%2Fbiome%402.3.13/biome-win32-x64.exe" -OutFile "$(Agent.ToolsDirectory)/biome.exe" lint "$(System.DefaultWorkingDirectory)/src"'
        
      # - job: CSSLint
      #   displayName: CSS_Lint
      #   continueOnError: true
      #   steps:
      #   - task: NodeTool@0
      #     inputs:
      #       versionSource: 'spec'
      #       versionSpec: '18.x'
      #       checkLatest: true
      #   - task: PowerShell@2
      #     continueOnError: true
      #     inputs:
      #       targetType: 'inline'
      #       script: |
      #         npm -v
      #   - task: PowerShell@2
      #     inputs:
      #       targetType: 'inline'
      #       script: |
      #         npm install -g stylelint stylelint-config-standard
              
      #         npx stylelint "$(System.DefaultWorkingDirectory)/src"

      - job: YamlLint
        displayName: Yaml Lint
        continueOnError: true
        steps:
        # - task: UsePythonVersion@0
        #   inputs:
        #     versionSpec: '3.x'
        #     addToPath: true
        #     architecture: 'x64'
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              pip install --user yamllint
              
              yamllint "$(System.DefaultWorkingDirectory)"