trigger: 
- main
- features/*

pool: Default

steps: 
- task: NodeTool@0
  inputs:
    versionSource: 'spec'
    versionSpec: '16.x'

- task: PowerShell@2
  inputs:
    filePath: '$(System.DefaultWorkingDirectory)'
    arguments: 'npm install'

- task: PowerShell@2
  inputs:
    filePath: '$(System.DefaultWorkingDirectory)'
    arguments: 'npm run build'

