trigger: 
- main
- features/*

pool: Default

steps: 
- task: NodeTool@0
  inputs:
    versionSource: 'spec'
    versionSpec: '16.x'

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'npm install'
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'npm run build'
- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)/build'
    includeRootFolder: true
    archiveType: 'zip'
    archiveFile: '$(System.DefaultWorkingDirectory)/build.zip'
    replaceExistingArchive: true

- task: UniversalPackages@0
  inputs:
    command: 'publish'
    publishDirectory: '$(System.DefaultWorkingDirectory)/build'
    feedsToUsePublish: 'internal'
    vstsFeedPublish: 'f3621e70-95ef-427d-a2ef-453ede07fab7'
    vstsFeedPackagePublish: 'todo-monolithic-build'
    versionOption: 'custom'
    versionPublish: '1.1.0'
    packagePublishDescription: 'Build folder first time update'