trigger: 
- main
- features/*

pool: Default

steps: 
- task: NodeTool@0
  inputs:
    versionSource: 'spec'
    versionSpec: '16.x'

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'npm install'
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'npm run build'
- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)/build'
    includeRootFolder: true
    archiveType: 'zip'
    archiveFile: '$(System.DefaultWorkingDirectory)/build.zip'
    replaceExistingArchive: true
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'az storage blob upload --account-name todoinfra002 --container-name infra002 --name build.zip --file C:\Users\HP\agent_infra\_work\3\s\build.zip'

    
